* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: #fff;
}

footer {
	text-align: center;
	margin-top: 50px;
	padding: 25px;
	font-size: small;
}

iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

.card {
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #e7e2d9;
}

.google-map {
	text-decoration: none; 
	overflow: hidden;
	max-width: 100%;
	height: 100%;
}

.google-play-badge {
	width: 175px;
	padding: 0px;
	margin: 0px;
}

.projects-header {
	padding-bottom: 20px;
}

#about-text {
	font-size: 17px;
}

#contact-form {
	padding-top: 20px;
}

#embedmap-display {
	height: 100%; 
	width: 100%;
	max-width: 100%;
}

#landing-jumbotron {
	padding-top: 100px;
	padding-bottom: 65px;
	display: flex;
	align-items: center;
	background-color: #e7e2d9;
}

#landing-text {
	padding-right: 0px;
	padding-left: 0px;
  	padding-top: 25px;
  	padding-bottom: 0px;
}

#map {
	padding-top: 20px;
}

#profile-pic {
	max-width: 100%;
	max-height: 200px;
	border-radius: 100%;
}

#profile-pic-container {
	padding: 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#section-projects {
	padding-top: 25px;
	padding-bottom: 25px;
}